body, a {
  background-color: rgb(1, 43, 57);
  color: white;
}
.App {
  display: flex;
  align-items: center;
	justify-content: center;
	flex-direction: column;
  min-height: 100vh;
  padding: 20px 0px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  -width: 100%;
}

td, th {
  border: 1px solid #3a3a3a;
  text-align: left;
  padding: 8px;
}
button {
  background-color: #05AA85;
  color: white;
  padding: 5px 15px;
}

.selectedTeam {
  border: solid black 1px;
}

tr:nth-child(even) {
  background-color: #003548;
}

.win {
  background-color: rgba(0, 255, 0, 0.3);
}
.lost{
  background-color: rgba(255, 0, 0, 0.3);
}
.draw{
  background-color: rgba(255, 255, 0, 0.3);
}
.selectedLobbyButton {
  background-color: #89D578;
  color: black;
}
.lobbyButton {
  margin: 5px;
}
.roundButton {
  margin: 5px;
}
.selectedRoundButton {
  background-color: #89D578;
  color: black;
}
.teamButton {
  margin: 5px;
}
.selectedTeamButton {
  color: black;
  background-color: #89D578;
}
.spreadContent {
  display: flex;
	justify-content: space-between;
}
.spaceAround {
  display: flex;
	justify-content: space-around;
}
.scoreWrapper {
  width: 50px;
  text-align: center;
  font-weight: bold;
}
.LobbySelectorWrapper {
  margin-bottom: 20px;
}